@model GetByIdImagePropertyDto
<div class="row no-gutters mt-5">
    <div class="col-12">
        <h2 class="h4 text-black mb-3">Gallery</h2>
    </div>

<div class="col-sm-6 col-md-4 col-lg-3">
    <a href="@Model.ImageUrl1" class="image-popup gal-item"><img src="@Model.ImageUrl1" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl2" class="image-popup gal-item"><img src="@Model.ImageUrl2" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl3" class="image-popup gal-item"><img src="@Model.ImageUrl3" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl4" class="image-popup gal-item"><img src="@Model.ImageUrl4" alt="Image" class="img-fluid"></a>
    </div>
   
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl1" class="image-popup gal-item"><img src="@Model.ImageUrl1" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl2" class="image-popup gal-item"><img src="@Model.ImageUrl2" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl3" class="image-popup gal-item"><img src="@Model.ImageUrl3" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl4" class="image-popup gal-item"><img src="@Model.ImageUrl4" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl1" class="image-popup gal-item"><img src="@Model.ImageUrl1" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl2" class="image-popup gal-item"><img src="@Model.ImageUrl2" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl3" class="image-popup gal-item"><img src="@Model.ImageUrl3" alt="Image" class="img-fluid"></a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="@Model.ImageUrl4" class="image-popup gal-item"><img src="@Model.ImageUrl4" alt="Image" class="img-fluid"></a>
    </div>

</div>