@model PropertyFilterModel
 <div class="site-section site-section-sm pb-0">
    <div class="container">
        <div class="row">
<form method="get" action="@Url.Action("LayoutPropertyList", "Property")" class="form-search col-md-12" style="margin-top: -100px;">
    <div class="row align-items-end">

        <div class="col-md-3">
            <label for="offer-types">Durum</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select asp-for="OfferType" id="offer-types" class="form-control d-block rounded-0">
                    <option value="">Durumu</option>
                    <option value="Satılık">Satılık</option>
                    <option value="Kiralık" >Kiralık</option>

                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label for="select-city">Şehir</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select asp-for="City" id="select-city" class="form-control d-block rounded-0">
                    <option value="">Şehir</option>
                    @foreach (var address in @ViewBag.Addresses as List<ResultPropertyDto>)
                    {
                        <option value="@address.Adreess">@address.Adreess</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label for="category">Ev Tipi</label>
            <div class="select-wrap">
                <span class="icon icon-arrow_drop_down"></span>
                <select asp-for="CategoryId" id="category" class="form-control d-block rounded-0">
                    <option value="">Tür</option>
                    @foreach (var category in @ViewBag.Categories as IEnumerable<ResultCategoryDto>)
                    {
                  
                         <option value="@category.Id">@category.CategoryName</option> 
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
        </div>
    </div>
</form>
        </div>
    </div>






